/* Main Rules */
:root {
    --light-color: #3498db;
    --dark-color: #2980b9;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--dark-color);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* Main Styling */
header {
    padding: 15px 30px;
    background-color: var(--light-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    margin-bottom: 40px;
}
header form .search {
    color: #fff;
    font-size: 1.1em;
    padding: 10px 15px;
    background-color: transparent;
    border: 3px solid var(--dark-color);
    border-radius: 50px;
    transition: background .2s;
    display: inline-block;
    max-width: 100%;
}
header form .search::placeholder {color: #eee}
header form .search:focus {
    outline: 0;
    background-color: var(--dark-color);
}
main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 20px 60px;
}
main .movie {
    position: relative;
    background-color: var(--light-color);
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    width: 100%;
}
main .movie .info {
    display: flex;
    padding: 5px 15px 15px;
}
main .movie .info h3 {
    color: #eee;
}
main .movie .info span {
    background-color: var(--dark-color);
    padding: 2px 8px;
    color: #eee;
    border-radius: 4px;
    margin-left: auto;
    align-self: flex-end;
    font-weight: bold;
}
main .movie .info span.red {color: red;}
main .movie .info span.orange {color: orange;}
main .movie .info span.green {color: lightgreen;}
main .movie .overview {
    position: absolute;
    padding: 20px 20px;
    background-color: #fff;
    transform: translateY(105%);
    bottom: 0;
    transition: transform .3s;
}
main .movie:hover .overview {
    transform: translateY(0);
}
main .movie .overview h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333;
    margin: 10px 0 10px;
}
main .movie .overview p {
    line-height: 1.8;
    color: #555;
}
main .movie img {
    width: 100%;
}
@media (max-width: 660px) {
    header {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 340px) {
    main {
        grid-template-columns: 100%;
    }
}
